apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-webui
  labels:
    app: webui
    tenant: {{ .Values.tenant }}
    env: {{ .Values.env }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: webui
      tenant: {{ .Values.tenant }}
  template:
    metadata:
      labels:
        app: webui
        tenant: {{ .Values.tenant }}
        env: {{ .Values.env }}
    spec:
      containers:
      - name: webui
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        ports:
        - containerPort: 80
