apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-webui
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: 80
  selector:
    app: webui
    tenant: {{ .Values.tenant }}
